<mat-toolbar role="banner" [attr.aria-label]="'topbarLabel' | translate">
  <div class="toolbar-title-group">
    <ng-container *ngIf="backRoute">
      <button mat-icon-button (click)="goBack()" aria-label="Back">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </ng-container>

    <span class="page-title">{{ pageTitle | translate }}</span>
  </div>

  <span class="spacer"></span>

  <div class="user-info" role="contentinfo" [attr.aria-label]="'userBlockLabel' | translate">
    <a routerLink="/settings/region" [attr.aria-label]="'regionSettingsLabel' | translate">
      <img src="./assets/icons/earth.svg" [attr.alt]="'regionSettingsAlt' | translate" />
    </a>

    <button
      mat-fab
      [attr.aria-label]="'userButtonLabel' | translate"
      (click)="toggleMenu()"
      tabindex="0"
      (keydown.enter)="toggleMenu()"
      (keydown.space)="toggleMenu()"
    >
      <mat-icon svgIcon="user" aria-hidden="true"></mat-icon>
    </button>

    <div class="user-details" [attr.aria-label]="'userDetailsLabel' | translate">
      <div class="user-name" [attr.aria-label]="'userNameLabel' | translate">
        <p class="body1">{{ 'userGreeting' | translate }}</p>
        <p class="body2">{{ userName() }}</p>
      </div>

      <div class="user-role" [attr.aria-label]="'userRoleLabel' | translate">
        <p>{{ userRole() }}</p>
      </div>
    </div>
  </div>
</mat-toolbar>

<div class="custom-menu" *ngIf="menuVisible" [attr.aria-label]="'userMenuLabel' | translate">
  <h6 class="body1">{{ userName() }}</h6>
  <p class="body2">{{ userRole() }}</p>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="logout()"
    class="logout-item"
    [attr.aria-label]="'logoutLabel' | translate"
    (keydown.enter)="logout()"
    (keydown.space)="logout()"
    tabindex="0"
  >
    <mat-icon matListIcon aria-hidden="true" svgIcon="logout"></mat-icon>
    <span matLine>{{ 'logoutText' | translate }}</span>
  </a>
</div>
